.react-carousel {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    background-color: #f8f5f3;
  .react-carousel-list {
    position: relative;
    display: flex;
    margin: 0;
    margin: 15px;
    padding: 0;
    .carousel-item {
      display: inline-block;
        background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -15px;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 14px 8px;
      border: 1px solid #ccc;
      outline: 0;
      cursor: pointer;
      i{
        color: #4186ad;
      }
      &.prev-btn {
        left: -15px;
        right: unset;
      }
    }
  }
  .dot-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    list-style: none;
    text-align: center;
    li {
        font-size: 0;
        line-height: 0;
        display: block;
        margin: 5px;
        padding: 4px;
        /* width: 10px; */
        cursor: pointer;
        color: transparent;
        border: 2px solid #858585;
        border-radius: 50%;
        outline: 0;
        background: 0 0;
 
      &.active {
        background: #f15c02;
        border: 2px solid #f15c02;
      }
    }
  }
}
